#main {
	background-color: #ffffff;
	position: absolute;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid gray;
	overflow: hidden;
}

.code {
	background-color: #f0f0f0;	
	border: 1px solid gray;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
}

#header {
	background-color: #fcc600;
 	text-align: center;
}

.output {
	font-style: italic;
	background-color: #f0f0f0;
	overflow: hidden;
}
.error {
        color:red;
        font-weight:bold;
        text-align:center;
}
