<html>
<head>
    <title>Yandex Money test application</title>
</head>
<body>
<h1>History</h1>

<ul>
    <li>Operations count: {{ operations_count }}</li>
    {#<li>{{ error }}</li>#}
</ul>

</body>
</html>