<html>
<head>
    <title>Yandex Money test application</title>
</head>
<body>
<h1>P2p payment</h1>

<ul>
    <li>P2p payment result: {{ result }}</li>
    {#<li>{{ error }}</li>#}
</ul>

</body>
</html>