<html>
<head>
    <title>Yandex Money test application</title>
</head>
<body>
<h1>Revoke token</h1>

<ul>
    <li>Token revoked: {{ token_revoked }}</li>
    {#<li>{{ error }}</li>#}
</ul>

</body>
</html>