<html>
<head>
    <title>Yandex Money test application</title>
</head>
<body>
<h1>Shop payment</h1>

<ul>
    <li>Shop payment result: {{ result }}</li>
    {#<li>{{ error }}</li>#}
</ul>

</body>
</html>